RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#AuthType Basic
#AuthName "w"
#AuthUserFile "/home3/g560072/.htpasswds/public_html/w/passwd"
#require valid-user